body > header, body > footer {
	position: relative;
	z-index: 1;

	align-items: center;
	text-align: center;

	background: linear-gradient(to bottom right, hsl(310deg 80% 55%), hsl(240deg 79% 57%));
}

body > header h1, body > footer h4 {
	opacity: 0.87;
}

body > header {
	margin: -8px -8px 10px -8px;
	border-radius: 0 0 10px 10px;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	justify-content: space-around;
	gap: 1.5em;
	padding: 0 0.75em 0 0.75em;

	word-break: break-all;
	text-align: center;
}

body > footer {
	margin: 10px -8px -8px -8px;
	border-radius: 1em 1em 0 0;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

body > footer img {
	max-height: 2em;
}

body > header::before, body > footer::before {
	position: absolute;
	content: "";
	border-radius: 0 0 10px 10px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom right, hsl(340deg 100% 63%), hsl(256deg 100% 65%));
	z-index: -1;

	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

body > footer::before {
	border-radius: 10px 10px 0 0;
}

body > header:hover::before, body > footer:hover::before {
	opacity: 1;
}

body > header #airplane {
	position: absolute;
	top: 2em;
	left: -2em;

	transition-property: left right;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

body > header a {
	cursor: pointer;
}

body > header img {
	height: 100%;
	min-height: 1em;
	max-height: 3em;
	width: 100%;
	min-width: 1em;
	max-width: 3em;
}

@media print {
	body > header, body > footer {
		display: none;
	}
}

@media (orientation: portrait) {
	body > header .portrait-orientation {
		display: initial;
	}

	body > header .landscape-orientation {
		display: none;
	}
}

@media (orientation: landscape) {
	body > header .portrait-orientation {
		display: none;
	}

	body > header .landscape-orientation {
		display: initial;
	}
}