<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title locale="title">Une erreur s'est produite</title>
		<link rel="stylesheet" type="text/css" href="./src/css/error.css" />
	</head>
	<body>
		<main>
			<article>
				<div id="emote">🛑</div>
				<section>
					<h2 id="error">Error Name</h2>
					<h2 id="additional">Error Details</h2>
				</section>
				<h3><a href="./maintenance.html" locale="maintenance">Accéder à la page de maintenance</a></h3>
			</article>
		</main>
	</body>
</html>