<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Curriculum vitæ</title>
		<link rel="stylesheet" type="text/css" href="./src/css/home.css" />
		<link rel="stylesheet" type="text/css" href="./src/css/prettify.css" />
	</head>
	<body>
		<main>
			<div class="pretty-triangles top">
				<span class="bottom"></span>
				<span class="top"></span>
			</div>
			<header id="informations">
				<article id="name">
					<h1>Aurore</h1>
					<h1>LECLERC</h1>
				</article>
				<div class="separator"></div>
				<article id="my-informations">
					<ul>
						<li class="mail">
							<a href="mailto:aurore.leclerc.lefranc@outlook.fr">
								aurore.leclerc.lefranc@outlook.fr
							</a>
						</li>
						<li class="linkedin">
							<a href="https://www.linkedin.com/in/aurore-leclerc-373936221/">
								linkedin.com/in/aurore-leclerc-373936221/
							</a>
						</li>
						<li class="github">
							<a href="https://github.com/auroreLeclerc">
								github.com/auroreLeclerc
							</a>
						</li>
						<li class="agenda"><span id="calculateAge">XX</span> <span locale="years">ans</span></li>
						<li class="house" locale="town1">Saint-Leu-la-Forêt (95320)</li>
						<li class="house" locale="town2">Amiens (80000)</li>
						<li class="mbti"><span class="accordion prettify-js">MBTI</span> : Logician (<span class="accordion prettify-js">INTP</span>)</li>
					</ul>
				</article>
			</header>
			<section id="formation">
				<h1>
					<img src="./src/img/homeMade/diploma.svg" alt="🎓">
					<span locale="degrees">FORMATIONS</span>
				</h1>
				<article>
					<div class="center">
						2022 - 2024<br>
						<span locale="apprenticeship">Alternance</span>
					</div>
					<div>
						<img class="black-theme" src="./src/img/registeredTrademark/UPJV_blanc.svg" alt="UPJV">
						<img class="white-theme" src="./src/img/registeredTrademark/UPJV_noir.svg" alt="UPJV">
						<span locale="master">
							<h4>Master Informatique parcours <span class="italic">e</span>Santé</h4>, à l’Université de Picardie Jules-Verne, au campus d'Amiens (80000) dans le pôle Scientifique Saint-Leu.
						</span>
					</div>

					<div class="center">
						2021 - 2022<br>
						<div class="flex-center">
							<span locale="apprenticeship">Alternance</span>
							<a href="https://cfa-afia.jobteaser.com/fr/job-offers/7646503-sap-alternant-e-developpeur-nodejs-electronjs-c-pour-sap-intelligent-rpa-f-h" target="_blank">
								<img class="white-theme" src="./src/img/registeredTrademark/AFIA_CFA_couleur.svg" alt="CFA AFIA">
								<img class="black-theme" src="./src/img/registeredTrademark/AFIA_CFA_blanc.svg" alt="CFA AFIA">
							</a>
						</div>
					</div>
					<div>
						<img src="./src/img/registeredTrademark/UniversiteParis_couleur.svg" alt="Université Paris Cité">
						<span locale="bachelor">
							<h4>Licence 3 Informatique parcours <span class="accordion prettify-js">MIAGE</span></h4>,
							mention Assez Bien, à l'Université Paris Cité (anciennement Paris 5 Descartes), au campus Rives de Seine (75016).
						</span>
					</div>

					<div class="center">2019 - 2021</div>
					<div>
						<img class="black-theme" src="./src/img/registeredTrademark/USPN_2021_logo.svg" alt="Université Sorbonne Paris Nord">
						<img class="white-theme" src="./src/img/registeredTrademark/USPN_2022_logo.svg" alt="Université Sorbonne Paris Nord">
						<span locale="technical">
							<h4><span class="accordion prettify-js">DUT</span> Informatique</h4>, 
							option <span class="accordion prettify-js">MIG</span>,
							à l’Université Sorbonne Paris Nord (anciennement Paris 13), au campus de Villetaneuse (93430).
						</span>
					</div>

					<div class="center">2017 - 2019</div>
					<div>
						<img class="black-theme" src="./src/img/registeredTrademark/DL_02_Dip_Etat_blanc.svg" alt="Diplôme d'état (Français) contrôlé">
						<img class="white-theme" src="./src/img/registeredTrademark/DL_02_Dip_Etat.svg" alt="Diplôme d'état (Français) contrôlé">
						<span locale="baccalaureate">
							<h4>Baccalauréat Scientifique spécialité <span class="accordion prettify-js">SVT</span></h4>,
							option <span class="accordion prettify-js">ISN</span>,
							au lycée Jacques Prévert à Taverny (95150).
						</span>
					</div>
				</article>
			</section>
			<section id="experience">
				<h1>
					<img src="./src/img/homeMade/experiences.svg" alt="💼">
					<span locale="experience">EXPÉRIENCES</span>
				</h1>
				<article>
					<div class="center" title="19/09/2022 - 06/09/2024 ; 29/09/2021 - 02/09/2022">
						2021 - 2024
					</div>
					<div>
						<img src="./src/img/registeredTrademark/SAP_logo.svg" alt="SAP SE">
						<h4>NodeJS Backend Developer,
							<span class="accordion prettify-js">BTP</span>
							- <span class="accordion prettify-js">SBPA</span>
							(FR) :
						</h4>
						<span locale="sap">
							alternance chez SAP
							à Levallois-Perret (92300), au service <span class="accordion prettify-js">SBPA</span>, 
							anciennement (<span class="accordion prettify-js">BPI</span>) <span class="accordion prettify-js">iRPA</span>.
							Ce service développe une application d'automatisation codée en NodeJS/Electron. 
							Au début, pour me familiariser avec l'application, 
							j'ai effectué des tests unitaires et trouvé des bugs que j'ai corrigés.
							Ensuite, j'ai développé un nouveau <span class="accordion prettify-js">SDK</span> (ensemble d'activités) 
							pour l'automatisation de Microsoft Office 365 Online.
							J'ai également créé de nouvelles activités pour les <span class="accordion prettify-js">SDK</span> 
							de Microsoft Excel et de Microsoft Outlook, ainsi que pour Office 365.
							J'ai pris en charge la création de tests d'intégration et unitaires pour toutes ces activités.
						</span>
					</div>

					<div class="center" title="12/04/2021 - 02/07/2021">
						04/2021<br>
						-<br>
						07/2021<br>
					</div>
					<div>
						<img src="./src/img/registeredTrademark/Givaudan_logo_red.svg" alt="Givaudan">
						<h4>PHP Full Stack Trainee Developer :</h4>
						<span locale="givaudan">
							stage de 12 semaines chez Givaudan
							à Argenteuil (95100), département informatique. 
							Pour reconstruire une application intranet en utilisant PHP/MySQL et 
							<span class="accordion prettify-js">HTML</span>/<span class="accordion prettify-js">CSS</span>/<span class="accordion no-space prettify-js">JS</span>, 
							pour rendre le design responsive.
						</span>
					</div>
				</article>
			</section>
			<section id="skills">
				<h1>
					<img src="./src/img/homeMade/skills.svg" alt="🖥️">
					<span locale="skills">COMPÉTENCES</span>
				</h1>
				<article>
					<div>
						<h4 locale="programming">En langages de programmation :</h4>
						<ul>
							<li><span class="accordion prettify-js">HTML</span> ; 
								<span class="accordion prettify-js">CSS</span> ; 
								<span class="accordion prettify-js">PWA</span> ;
								PHP (<span class="accordion prettify-js">MVC</span>)
							</li>
							<li><span class="accordion prettify-js">SQL</span> (PostgreSQL ; MySQL/MariaDB)</li>
							<li>JavaScript ; 
								<span class="accordion prettify-js">DOM</span> ; 
								<span class="accordion prettify-js">AJAX</span>/Fetch ;
								JSON
							</li>
							<li>NodeJS ; TypeScript ; Yarn/Npm ; Electron</li>
							<li>Python 3</li>
							<li>Java ; Java/Jakarta EE (Apache Tomcat)</li>
							<li>Microsoft Graph API</li>
						</ul>
					</div>
					<div>
						<h4 locale="admin">Administration Système :</h4>
						<ul>
							<li>Bash ; Zsh</li>
							<li>GNU/Linux</li>
							<li>Ubuntu Server</li>
							<li>EndeavourOS Desktop</li>
						</ul>
					</div>
					<div>
						<h4 locale="software">Génie Logiciel :</h4>
						<ul>
							<li><span class="accordion prettify-js">UML</span></li>
							<li>JIRA <span locale="ticketing">(gestion de tickets)</span></li>
							<li><span locale="unit">Tests unitaires</span> (Sinon.JS)</li>
							<li><span locale="integration">Tests d'intégration</span> (Mocha JS)</li>
							<li locale="mutation">Tests de mutations</li>
						</ul>
					</div>
					<div>
						<h4 locale="art">Artistiques :</h4>
						<ul>
							<li locale="filtre7">PhotoFiltre7 (retouche photo)</li>
							<li locale="draw">Inkscape (dessin vectoriel)</li>
						</ul>
					</div>
					<div>
						<h4 locale="office">Bureautiques :</h4>
						<ul>
							<li locale="libreoffice">Suite LibreOffice</li>
							<li locale="microsoftoffice">Suite Microsoft Office</li>
							<li>Teams ; Outlook...</li>
						</ul>
					</div>
					<div>
						<h4 locale="linguistics">Linguistiques :</h4>
						<ul>
							<li class="english">TOEIC® : 935/990</li>
							<li class="english">TOEFL® : 98/120</li>
							<li class="french" locale="french">Français langue maternelle</li>
						</ul>
					</div>
				</article>
			</section>
			<section id="hobbies">
				<h1>
					<img src="./src/img/homeMade/hobbies.svg" alt="⛵">
					<span locale="hobbies">PASSIONS</span>
				</h1>
				<article>
					<div>
						<p locale="hobbies1">Mes centres d’intérêt tournent en majeure partie autour de l’informatique autant en programmation personnelle ainsi qu’en bidouillages divers.</p>
						<p locale="hobbies2">De mon côté j’ai aussi acquis un petit niveau artistique autant en <span class="accordion prettify-js">CSS</span> qu’en dessin vectoriel.</p>
						<p locale="hobbies3">Pour autant je passe une grande partie de mon temps à me renseigner dans divers domaines tels que la biologie, la philosophie, la psychologie, la sociologie, l’économie, l’expression artistique... 
						Grâce à divers vulgarisateur·rice·s sur différentes plateformes web.</p>
					</div>
				</article>
			</section>
			<div class="pretty-triangles bottom">
				<span class="bottom"></span>
				<span class="top"></span>
			</div>
			<div class="ios prompt">
				<h2 locale="ios1">Ajouter à l'écran d'accueil</h2>
				<p locale="ios2">Ce site Web peut être installé en PWA <b>avec Safari</b>. Ajoutez-le à votre écran d'accueil pour l'utiliser en plein écran et hors ligne.</p>
				<p class="grid">
					<img src="./src/img/registeredTrademark/IOS_share.svg" alt="Share">
					<span locale="ios3">1. Cliquer sur le bouton 'Partager' sur la bare de menu en contrebas</span>
				</p>
				<p class="grid">
					<img src="./src/img/registeredTrademark/IOS_add.svg" alt="Add to home screen">
					<span locale="ios4">2. Cliquer sur ajouter à l'écran d'accueil</span>
				</p>
			</div>
		</main>
		<script type="module" src="./src/js/model/Home.js"></script>
		<script src="./src/js/model/Prettify.js"></script>
	</body>
</html>