<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<title locale="title" >Mentions Légales de mon Curriculum vitæ</title>
		<link rel="stylesheet" type="text/css" href="./src/css/rights.css" />
	</head>
	<body>
		<main>
			<article id="licence">
				<h3 class="center">
					<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
						<img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
					</a>
					<br />
					<span locale="CC1">Le design et les images (sauf mentions contraires pour les images sous copyright) de ce site </span>
					<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">
						Curriculum vitæ d'Aurore Leclerc
					</span> <span locale="by">par</span> 
					<a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/auroreLeclerc/" property="cc:attributionName" rel="cc:attributionURL">Aurore Leclerc</a>
					 <span locale="CC2">sont mis à disposition selon les termes de la</span> 
					<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" locale="CC">
						licence Creative Commons Attribution -  Partage dans les Mêmes Conditions 4.0 International
					</a>.
				</h3>
				<h3 class="center">
					<span locale="GNU">Le code source et tout ce qui n'est pas déjà licencié sur ce site
					(Curriculum vitæ d'Aurore Leclerc par Aurore Leclerc) est mis à disposition selon les termes de la</span>
					<a rel="license" href="https://www.gnu.org/licenses/gpl-3.0.html">
						GNU GPLv3
					</a>.
				</h3>
			</article>
			<div class="separator vertical"></div>
			<article id="registeredTrademark">
				<h3 locale="trademark">Toute les images sur ce site sont mises à disposition selon les termes de la licence ci dessus (CC BY-SA 4.0) à l'exception de :</h3>
				<ul>
					<li>
						<p>Le logo de l'Université de Picardie Jules Verne sous licence "© UPJV" d'après les
						<a href="https://personnels.u-picardie.fr/mentions-legales/">mentions légales</a>
						est utilisé en adéquation avec les
						<a href="https://personnels.u-picardie.fr/communication/le-logo-de-l-upjv-422478.kjsp">
							principes d’utilisation
						</a>.</p>
						<div class="mosaic">
							<img src="src/img/registeredTrademark/UPJV_blanc.svg" alt="UPJV_blanc" class="black-bg">
							<img src="src/img/registeredTrademark/UPJV_noir.svg" alt="UPJV_noir" class="white-bg">
							<img src="src/img/registeredTrademark/UPJV_bleu.svg" alt="UPJV_bleu" class="white-bg">
						</div>
					</li>
					<li>
						<p>Le logo de Université Paris Cité qui est utilisé en adéquation avec la
						<a href="https://u-paris.fr/charte-graphique-et-outils/">
							charte graphique
						</a>.</p>
						<div class="mosaic">
							<img src="src/img/registeredTrademark/UniversiteParis_couleur.svg" alt="UniversiteParis_couleur">
							<img src="src/img/registeredTrademark/UniversiteParisCite_couleur.svg" alt="UniversiteParisCite_couleur" class="white-bg">
							<img src="src/img/registeredTrademark/UniversiteParis_noir.svg" alt="UniversiteParis_noir" class="white-bg">
							<img src="src/img/registeredTrademark/UniversiteParisCite_noir.svg" alt="UniversiteParisCite_noir" class="white-bg">
						</div>
					</li>
					<li>
						<p>Le logo de l’Université Sorbonne Paris Nord qui est utilisé en adéquation avec le
						<a href="https://www.univ-paris13.fr/presse/">
							kit presse
						</a>.</p>
						<div class="mosaic">
							<img src="src/img/registeredTrademark/USPN_2021_logo.svg" alt="USPN_2021_logo">
							<img src="src/img/registeredTrademark/USPN_2021.svg" alt="USPN_2021">
							<img src="src/img/registeredTrademark/USPN_2022_logo.svg" alt="USPN_2022_logo" class="white-bg">
							<img src="src/img/registeredTrademark/USPN_2022.svg" alt="USPN_2022" class="white-bg">
						</div>
					</li>
					<li>
						<p>Le logo de formation contrôlée par l’état (Français) produit par le ministère de l'Enseignement supérieur qui est utilisé (pour illustrer le Baccalauréat Français) en adéquation avec la
						<a href="https://www.enseignementsup-recherche.gouv.fr/fr/labels-des-formations-controlees-par-l-etat-46088/">
							communication sur les labels des formations contrôlées par l'Etat
						</a>.</p>
						<div class="mosaic">
							<img src="src/img/registeredTrademark/DL_02_Dip_Etat.svg" alt="DL_02_Dip_Etat">
							<img src="src/img/registeredTrademark/DL_02_Dip_Etat_blanc.svg" alt="DL_02_Dip_Etat_blanc" class="black-bg">
						</div>
					</li>
					<li>
						<p>Le logo du CFA AFIA qui est sourcé dans les 
						<a href="https://www.cfa-afia.com/mentions-legales/">
							mentions légales
						</a>.</p>
						<div class="mosaic">
							<img src="src/img/registeredTrademark/AFIA_CFA_couleur.svg" alt="AFIA_CFA_couleur" class="white-bg">
							<img src="src/img/registeredTrademark/AFIA_CFA_blanc.svg" alt="AFIA_CFA_blanc" class="black-bg">
						</div>
					</li>
					<li>
						<p>Le logo de SAP SE qui détient la marque déposé "SAP®" d'après
							<a href="https://www.sap.com/france/about/legal/trademark.html">
								Trademark Usage and Guidelines
							</a>
							et est utilisé en adéquation avec
							<a href="https://www.sap.com/france/about/legal/copyright.html">
								Use of SAP Copyrighted Materials
							</a>.
						</p>
						<div class="mosaic">
							<img src="src/img/registeredTrademark/SAP_logo.svg" alt="SAP_logo">
						</div>
					</li>
					<li>
						<p>Le logo de Givaudan qui est utilisé en adéquation avec
							<a href="https://www.givaudan.com/media/media-resources">
								Media resources
							</a>.
						</p>
						<div class="mosaic">
							<img src="src/img/registeredTrademark/Givaudan_logo_red.svg" alt="Givaudan_logo_red">
							<img src="src/img/registeredTrademark/Givaudan_text_black.svg" alt="Givaudan_text_black" class="white-bg">
							<img src="src/img/registeredTrademark/Givaudan_logo_black.svg" alt="Givaudan_logo_black" class="white-bg">
							<img src="src/img/registeredTrademark/Givaudan_text_white.svg" alt="Givaudan_text_white" class="black-bg">
							<img src="src/img/registeredTrademark/Givaudan_logo_white.svg" alt="Givaudan_logo_white" class="black-bg">
						</div>
					</li>
					<li>
						<p>Le logo de "LinkedIn® professional networking services" qui est utilisé en adéquation avec
							<a href="https://brand.linkedin.com/policies">
								LinkedIn branding policies
							</a>.
						</p>
						<div class="mosaic">
							<img src="src/img/registeredTrademark/Linkedin.svg" alt="Linkedin">
						</div>
					</li>
					<li>
						<p>Le logo de Github qui est utilisé en adéquation avec
							<a href="https://github.com/logos">
								GitHub Logos and Usage
							</a>.
						</p>
						<div class="mosaic">
							<img src="src/img/registeredTrademark/Github_black.svg" alt="Github_black" class="white-bg">
							<img src="src/img/registeredTrademark/Github_white.svg" alt="Github_white" class="black-bg">
						</div>
					</li>
				</ul>
				<p locale="used">
					Toutes ces images sont utilisées car je suis ou j'ai été membre dans les organismes cités ci-dessus.
					J'y possède un compte ou alors j'y ai soit étudié soit travaillé.
				</p>
			</article>
			<div class="separator vertical"></div>
			<article>
				<h3 class="center"><span locale="liberation">Fait aussi exception la polices d'écriture Liberation créer par</span> 
					<a rel="license" href="https://github.com/liberationfonts/liberation-fonts/blob/main/AUTHORS">
						Vishal Vijayraghavan, Pravin Satpute, Steve Matteson
					</a>
					<span locale="under">sous licence</span>
					<a rel="license" href="http://scripts.sil.org/OFL">
						SIL Open Font License 1.1
					</a>.
				</h3>
			</article>
		</main>
	</body>
</html>