<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<title>Paramètres de Curriculum vitæ</title>
		<link rel="stylesheet" type="text/css" href="./src/css/settings.css">
	</head>
	<body>
		<main>
			<h2 class="center flex">
				<div>Version de l'application dans le cache 📲 (local) : <span id="local">
					<progress></progress>
				</span></div>
				<div>Version de l'application sur le serveur 🌐 (distant) : <span id="online">
					<progress></progress>
				</span></div>
			</h2>
			<h2 class="center flex" id="update">
				<progress></progress>
			</h2>
			<h3 class="flex-center" id="changelogs">
				<ul>
					<li class="title">La nouvelle version apporte :</li>
				</ul>
			</h3>
			<h3 class="center flex">
				<div>
					<input type="checkbox" id="notificationEnable" name="notificationEnable">
					<label for="notificationEnable">M'avertir par notification lors d'une mise à jour</label>
				</div>
				<div>
					<input type="checkbox" id="autoUpdateEnable" name="autoUpdateEnable">
					<label for="autoUpdateEnable">Automatiquement mettre à jour l'application</label>
				</div>
			</h3>

			<div class="separator vertical"></div>

			<h4 class="center">La version actuelle a apportée : <span id="currentChangeslogs">
				<progress></progress>
			</span></h4>

			<div class="separator vertical"></div>

			<h4 class="center flex">
				<div>⚠️ Si vous effacez le cache, pendant que vous êtes hors ligne ✈️ alors l'application ne sera plus disponible</div>
				<div>⚠️ Si vous effacez le cache, le Service Worker (ce qui permet l'accès hors ligne) sera inatteignable 📦 tant que vous ne retournez pas à l'accueil</div>
			</h4>
			<h1 class="flex-center">
				<span class="button" id="deleteCache" title="Et désinstaller le Service Worker">Effacer le cache</span>
			</h1>

			<div class="separator vertical"></div>

			<h2 class="flex-center">
				<span>
					<input type="checkbox" id="debugEnable" name="debugEnable">
					<label for="debugEnable">Activer le mode debug</label>
				</span>
			</h2>
			<section id="debug">
				<table>
					<caption>Configuration :</caption>
					<thead>
						<tr>
							<th>Key</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody id="config">
					</tbody>
				</table>
				<table>
					<caption>Erreurs d'éxécution :</caption>
					<thead>
						<tr>
							<th>Erreur</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody id="errors">
					</tbody>
				</table>
				<table>
					<caption>Manifeste PWA :</caption>
					<thead>
						<tr>
							<th>Pzroperty</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody id="manifest">
					</tbody>
				</table>
				<p>
					<span id="display-mode">display-mode: </span>
				</p>
				<p>
					Service Worker: 
					<span id="serviceWorker">🚫</span>
				</p>
				<p class="button" id="resetConfig">Réinitialiser la configuration</p>
			</section>
		</main>
		<script type="module" src="./src/js/model/Settings.js"></script>
	</body>
</html>