body > header, body > footer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
	align-items: center;

    background: linear-gradient(to bottom right, hsl(310, 80%, 55%), hsl(240, 79%, 57%));
}

body > header {
    margin: -8px -8px 10px -8px;
    padding: 0 8px;
    border-radius: 0 0 10px 10px;
}

body > footer {
    margin: 10px -8px -8px -8px;
    border-radius: 1em 1em 0 0;
}

body > footer img {
	max-height: 2em;
}

body > header::before, body > footer::before {
	position: absolute;
	content: "";
    border-radius: 0 0 10px 10px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom right, hsl(340, 100%, 63%), hsl(256, 100%, 65%));
	z-index: -1;

	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

body > footer::before {
    border-radius: 10px 10px 0 0;
}

body > header:hover::before, body > footer:hover::before {
	opacity: 1;
}

body > header #airplane {
	position: absolute;
	top: 2em;
	left: -2em;

	transition-property: left right;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}