/* stylelint-disable declaration-empty-line-before */
section#loading {
	user-select: none;
	visibility: visible;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	height: 50vh;
	width: 50vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	transition: opacity 1s, visibility 1s;
}

@media (orientation: portrait) {
	section#loading {
		height: 75vw;
		width: 75vw;
	}
}

@media (orientation: landscape) {
	section#loading {
		height: 50vh;
		width: 50vh;
	}
}

section#loading img {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	height: 40%;
}

svg.round-loading {
	height: 100%;
	width: 100%;
	animation-name: round-turning;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

svg.round-loading circle {
	--pi: 3.1415;
	--width: 100%;
	--stroke: 1em;
	--radius: calc((var(--width) / 2) - (var(--stroke) * 2));
	--circumference: calc((2 * var(--pi)) * var(--radius));

	cx: calc(var(--width) / 2);
    cy: calc(var(--width) / 2);
    r: var(--radius);
	fill: transparent;
	stroke-width: var(--stroke);
	stroke-linecap: round;
    stroke: darkorchid;
	stroke-dasharray: var(--circumference) var(--circumference);
	animation-name: round-loading;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes round-loading {
	0% {
		stroke: hsl(280deg 61% 33%);
		stroke-dasharray: 0 var(--circumference);
	}

	50% {
		stroke: hsl(265deg 44% 66%);
		stroke-dasharray: var(--circumference) var(--circumference);
	}

	100% {
		stroke: hsl(280deg 61% 33%);
		stroke-dasharray: 0 var(--circumference);
	}
}

@keyframes round-turning {
	0% {
		transform: rotate(0turn);
	}

	50% {
		transform: rotate(0.5turn);
	}

	100% {
		transform: rotate(1turn);
	}
}