/* stylelint-disable declaration-empty-line-before */
section#service-worker {
	user-select: none;
	visibility: visible;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	height: 60%;
	width: 95%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	transition: opacity 1s, visibility 1s;
}

section#service-worker span {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	font-size: 6em;
}

section#service-worker svg.round-step-loading {
	height: 80%;
}

section#service-worker svg.round-step-loading circle {
	--pi: 3.1415;
	--width: 100%;
	--stroke: 2em;
	--radius: calc((var(--width) / 2) - (var(--stroke) * 2));
	--circumference: calc((2 * var(--pi)) * var(--radius));

	cx: calc(var(--width) / 2);
    cy: calc(var(--width) / 2);
    r: var(--radius);
	fill: transparent;
	stroke-width: var(--stroke);
	stroke-linecap: round;
    stroke: darkorchid;
	stroke-dasharray: 0 var(--circumference);

	animation-name: breathing;
    animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}

@keyframes breathing {
	from {
		stroke: hsl(280deg 61% 33%);
	}

	to {
		stroke: hsl(265deg 44% 66%);
	}
}

@keyframes error-breathing {
	from {
		stroke: firebrick;
	}

	to {
		stroke: palevioletred;
	}
}

@keyframes warning-breathing {
	from {
		stroke: yellow;
	}

	to {
		stroke: yellowgreen;
	}
}