<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Curriculum vitæ</title>
		<link rel="stylesheet" type="text/css" href="./src/css/home.css" />
		<link rel="stylesheet" type="text/css" href="./src/css/prettify.css" />
	</head>
	<body>
		<main>
			<div class="pretty-triangles top">
				<span class="bottom"></span>
				<span class="top"></span>
			</div>
			<header id="informations">
				<article id="name">
					<h1>Aurore</h1>
					<h1>LECLERC</h1>
				</article>
				<div class="separator"></div>
				<article id="my-informations">
					<ul>
						<li class="linkedin">
							<a href="https://www.linkedin.com/in/aurore-leclerc-373936221/">
								linkedin.com/in/aurore-leclerc-373936221/
							</a>
						</li>
						<li class="github">
							<a href="https://github.com/auroreLeclerc">
								github.com/auroreLeclerc
							</a>
						</li>
						<li class="agenda"><span id="calculateAge">XX</span> <span locale="years">ans</span></li>
						<li class="mbti"><span class="accordion prettify-js">MBTI</span> : Logician (<span class="accordion prettify-js">INTP</span>)</li>
					</ul>
				</article>
			</header>
			<section id="skills">
				<h1>
					<img src="./src/img/homeMade/skills.svg" alt="🖥️">
					<span locale="skills">COMPÉTENCES</span>
				</h1>
				<article>
					<div>
						<h4 locale="programming">Programmation :</h4>
						<ul>
							<li>Administration systèmes Linux (Git, Docker, SSH, Nix…)</li>
							<li>
								Python ; PHP ;
								<span class="accordion prettify-js">SQL</span> ; 
								React ; NextJS ; NestJS
							</li>
							<li>
								<span class="accordion prettify-js">HTML</span> ; 
								<span class="accordion prettify-js">CSS</span> ; 
								<span class="accordion prettify-js">JS</span> ; 
								<span class="accordion prettify-js">TS</span> ; 
								NodeJS ; Electron ; CapacitorJS
							</li>
							<li>Java ; Spring ; Android Studio ; Flutter; Delphi</li>
						</ul>
					</div>
					<div>
						<h4 locale="linguistics">Linguistiques :</h4>
						<ul>
							<li class="english">TOEIC® : 935/990</li>
							<li class="english">TOEFL® : 98/120</li>
							<li class="french" locale="french">Français langue maternelle</li>
						</ul>
					</div>
					<div>
						<h4>Soft Skills :</h4>
						<ul>
							<li class="hey">Orga Agile ; Travail d’équipe</li>
						</ul>
					</div>
				</article>
			</section>
			<section id="experience">
				<h1>
					<img src="./src/img/homeMade/experiences.svg" alt="💼">
					<span locale="experience">EXPÉRIENCES</span>
				</h1>
				<article>
					<div>
						<img class="black-theme" src="./src/img/registeredTrademark/Bow_Medical_white.svg" alt="Bow Medical">
						<img class="white-theme" src="./src/img/registeredTrademark/Bow_Medical.svg" alt="Bow Medical">
						<span>
							2025 : <h4>Full-Stack Delphi Engineer</h4> : <h4>en cours</h4> chez <h4>Bow Medical</h4> (éditeur de logiciels pour les soins critiques).
						</span>
						<ul>
							<li>Diane : Suite de logiciels utilisée dans les services de soins critiques hospitaliers. Codée en Delphi avec une <span class="accordion prettify-js">SGBD</span> client Oracle ou Microsoft.</li>
							<li>Créer des requêtes <span class="accordion prettify-js">SQL</span> pour l’extraction d’informations internes des hôpitaux.</li>
							<li>Développement de nouvelles fonctionnalités et traitement de correctifs dans Diane.</li>
							<li>Ré-usinage de code et ajout de fonctionnalités dans des outils internes.</li>
						</ul>
					</div>
					<div>
						<img src="./src/img/registeredTrademark/SAP_logo.svg" alt="SAP SE">
						<span>
							2021 – 2024 : <h4>Back-end NodeJS Developer</h4> pendant <h4>3 ans</h4> chez <h4>SAP</h4> (éditeur de logiciels et progiciels), dans le service <span class="accordion prettify-js">SBPA</span>.
						</span>
						<ul>
							<li><span class="accordion prettify-js">SBPA</span> : application de <span class="accordion prettify-js">RPA</span> (automatisation de processus) en low-code/no-code. Codée en NodeJS et Electron.</li>
							<li>Créer une couche qualité de code manquante. Investigation et correction de bugs.</li>
							<li>Concevoir, pour chaque production, une documentation auto-générée, des test unitaire et des tests d’intégration.</li>
							<li>Créer de nouvelles activités pour les <span class="accordion prettify-js">SDK</span> existants Excel et Outlook.</li>
							<li>Créer un nouveau <span class="accordion prettify-js">SDK</span> pour Office 365 Online (Sharepoint, OneDrive, Teams, Excel Web…).</li>
						</ul>
					</div>
					<div>
						<img src="./src/img/registeredTrademark/Givaudan_logo_red.svg" alt="Givaudan">
						<span> 2021 : <h4>Full-stack PHP/<span class="accordion prettify-js">SQL</span> Developer</h4> : pendant </span>
						<h4>3 mois</h4><span> chez </span><h4>Givaudan</h4><span> (fabricant d’arômes et de parfums), dans le département informatique.</span>
						<ul>
							<li>Reconstruire une application de réservation interne obsolète en responsive.</li>
						</ul>
					</div>
				</article>
			</section>
			<section id="formation">
				<h1>
					<img src="./src/img/homeMade/diploma.svg" alt="🎓">
					<span locale="degrees">FORMATIONS</span>
				</h1>
				<article>
					<div>
						<img class="black-theme" src="./src/img/registeredTrademark/UPJV_blanc.svg" alt="UPJV">
						<img class="white-theme" src="./src/img/registeredTrademark/UPJV_noir.svg" alt="UPJV">
						<span locale="master">
							2024 : <h4>Master Informatique parcours <span class="italic">e</span>Santé</h4>, Université Picardie Jules Verne.
						</span>
					</div>
					<div>
						<img src="./src/img/registeredTrademark/UniversiteParis_couleur.svg" alt="Université Paris Cité">
						<span locale="bachelor">
							2022 : <h4>Licence Informatique parcours <span class="accordion prettify-js">MIAGE</span></h4>, université Paris Descartes.
						</span>
					</div>
					<div>
						<img class="black-theme" src="./src/img/registeredTrademark/USPN_2021_logo.svg" alt="Université Sorbonne Paris Nord">
						<img class="white-theme" src="./src/img/registeredTrademark/USPN_2022_logo.svg" alt="Université Sorbonne Paris Nord">
						<span locale="technical">
							2021 : <h4><span class="accordion prettify-js">DUT</span> Informatique</h4>, option <span class="accordion prettify-js">MIG</span>, université Paris 13.
						</span>
					</div>
					<div>
						<img class="black-theme" src="./src/img/registeredTrademark/DL_02_Dip_Etat_blanc.svg" alt="Diplôme d'état (Français) contrôlé">
						<img class="white-theme" src="./src/img/registeredTrademark/DL_02_Dip_Etat.svg" alt="Diplôme d'état (Français) contrôlé">
						<span locale="baccalaureate">
							2019 : <h4>BAC S - <span class="accordion prettify-js">SVT</span></h4>,
							option <span class="accordion prettify-js">ISN</span>, lycée Jacques Prévert.
						</span>
					</div>
				</article>
			</section>			
			<section id="hobbies">
				<h1>
					<img src="./src/img/homeMade/hobbies.svg" alt="⛵">
					<span locale="hobbies">PASSIONS</span>
				</h1>
				<article>
					<div>
						<ul>
							<li class="teacher">Se documenter et apprendre sur la biologie, la sociologie, l’art vidéoludique, le game design, la pop culture, l’art cinématographique, la vulgarisation scientifique, l’histoire…</li>
							<li class="hacker">En programmation de projets personnels (disponible sur mon <a href="https://github.com/auroreLeclerc">Github</a>), auto formation, veille technologique, administration d’un serveur personnel…</li>
						</ul>
					</div>
				</article>
			</section>
			<div class="pretty-triangles bottom">
				<span class="bottom"></span>
				<span class="top"></span>
			</div>
			<div class="ios prompt">
				<h2 locale="ios1">Ajouter à l'écran d'accueil</h2>
				<p locale="ios2">Ce site Web peut être installé en PWA <b>avec Safari</b>. Ajoutez-le à votre écran d'accueil pour l'utiliser en plein écran et hors ligne.</p>
				<p class="grid">
					<img src="./src/img/registeredTrademark/IOS_share.svg" alt="Share">
					<span locale="ios3">1. Cliquer sur le bouton 'Partager' sur la bare de menu en contrebas</span>
				</p>
				<p class="grid">
					<img src="./src/img/registeredTrademark/IOS_add.svg" alt="Add to home screen">
					<span locale="ios4">2. Cliquer sur ajouter à l'écran d'accueil</span>
				</p>
			</div>
		</main>
		<script type="module" src="./src/js/model/Home.js"></script>
		<script src="./src/js/model/Prettify.js"></script>
	</body>
</html>