<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title locale="title">Portfolio</title>
		<link rel="stylesheet" type="text/css" href="./src/css/portfolio.css" />
	</head>
	<body>
		<main>
			<article>
				<section id="cv">
					<header><a href="https://github.com/auroreLeclerc/auroreCV">CV Web</a></header>
					<iframe src="https://auroreleclerc.github.io/auroreCV/" loading="lazy"></iframe>
					<footer>JS, PWA, IndexedDB, PUML, Unit Tests, ElectronJS, CapacitorJS</footer>
				</section>
				<section id="rtc">
					<header><a href="https://github.com/auroreLeclerc/RTCPeer-Webcam">RTC Peer Webcam</a></header>
					<iframe src="https://auroreleclerc.github.io/RTCPeer-Webcam/out/" loading="lazy"></iframe>
					<footer>TS, NestJS, ReactJS, NextJS, MUI</footer>
				</section>
				<section>
					<header><a href="https://github.com/auroreLeclerc/PracticalWorkNotation">Practical Work Notation</a></header>
					<div class="slideshow">
						<img src="./src/img/homeMade/screenshots/praticalWorkNotation/main_light.webp" class="white-theme" />
						<img src="./src/img/homeMade/screenshots/praticalWorkNotation/main_dark.webp" class="black-theme" />
						<img src="./src/img/homeMade/screenshots/praticalWorkNotation/work_light.webp" class="white-theme" />
						<img src="./src/img/homeMade/screenshots/praticalWorkNotation/work_dark.webp" class="black-theme" />
						<img src="./src/img/homeMade/screenshots/praticalWorkNotation/direct_light.webp" class="white-theme" />
						<img src="./src/img/homeMade/screenshots/praticalWorkNotation/direct_dark.webp" class="black-theme" />
					</div>
					<footer>Android Studio, Java, SQLite</footer>
				</section>
				<section>
					<header><a href="https://github.com/auroreLeclerc/nix-inventory">Nix Inventory</a></header>
					<img src="https://raw.githubusercontent.com/auroreLeclerc/nix-inventory/refs/heads/main/utilities/inventory.svg" />
					<footer>Nix, Python, Bash, Docker</footer>
				</section>
				<section id="reservation">
					<header><a href="https://github.com/auroreLeclerc/Reservation_Vehicule_PAA2">Réservation Véhicule</a></header>
					<img src="./src/img/homeMade/puml/ReservationVehicule.svg" />
					<footer>Java, UDP</footer>
				</section>
				<section id="covoiturage">
					<header><a href="https://github.com/auroreLeclerc/Covoiturage_periurbain">Covoiturage Périurbain</a></header>
					<img src="./src/img/homeMade/puml/CovoituragePeriurbain.svg" />
					<footer>TS, MariaDB, ExpressJS, Flutter, Dart</footer>
				</section>
			</article>
		</main>
	</body>
</html>