main section h1 {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
}

main section h1 img {
	max-height: 1em;
	align-self: center;
	margin: 0 5px;
}

main section h1 span {
	white-space: nowrap;
}

main section h1::after {
	content: "";
	height: 0;
	padding: 0;
	width: 100%;
	border-width: 0; /* chrome mobile workaround */
	border-bottom-width: 4px; /* otherwise empty separator */
	border-style: solid;
	border-color: purple;
	border-radius: 4px;
	margin-left: 5px;
}

main section article div h4 {
	display: inline;
	font-size: 1em;
	color: purple;
}

main section article div img {
	margin: 0 5px;
    max-height: 3em;
    float: right;
}

main section article div.flex-center img {
	margin: 0 5px;
    max-height: 1em;
}

/* Page CSS */

main {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 2px;
}

main section {
	max-width: 45%;
	min-width: 25em;
	margin: 0.25em;
}

main ul {
	padding-left: 0;
}

main section#skills article div ul li {
	list-style: none;
	display: block;
}
main header#informations article ul li::before, main section#skills article div ul li::before {
	content: '';
	display: inline-block;
	height: 1em;
	width: 1em;
	margin-right: 0.25em;
	background-size: contain;
	background-repeat: no-repeat;
}

main section#formation article, main section#experience article {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1.5em;
}

/* header#informations */

main header#informations {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;

	width: 100%;
	margin-bottom: 2em;
}

main header#informations article#name {
	flex: 1;
	text-align: end;
    max-width: calc(100% - 24px); /* 100% - div.separator width */
	font-size: 2.5em;
}
main header#informations article#name h1 {
	margin: 0;
}

main header#informations article#my-informations {
	flex: 1;
}
main header#informations article#my-informations ul {
	margin: 0;
}
main header#informations article#my-informations ul li {
	margin: 0.5em 0;
	display: block;
    overflow-wrap: break-word;
}

main header#informations article ul li.mail::before {
	background-image: url("../img/homeMade/mail.svg");
}
main header#informations article ul li.linkedin::before {
	background-image: url("../img/registeredTrademark/Linkedin.svg");
}
main header#informations article ul li.github::before {
	background-image: url("../img/registeredTrademark/Github_black.svg");
}
main header#informations article ul li.phone::before {
	background-image: url("../img/homeMade/phone.svg");
}
main header#informations article ul li.agenda::before {
	background-image: url("../img/homeMade/agenda.svg");
}
main header#informations article ul li.house::before {
	background-image: url("../img/homeMade/house.svg");
}
main header#informations article ul li.mbti::before {
	background-image: url("../img/homeMade/mbti.svg");
}

/* section#formation */

main section#formation h1, main section#formation article div h4 {
	color: hsl(207deg 90% 54%);
}

main section#formation h1::after {
	border-color: hsl(207deg 90% 54%);
}

/* section#experience */

main section#experience h1, main section#experience article div h4 {
	color: hsl(120deg 61% 50%);
}

main section#experience h1::after {
	border-color: hsl(120deg 61% 50%);
}

main section#experience article div img {
    max-height: 4em;
}

/* section#skills */

main section#skills h1, main section#skills article div h4 {
	color: hsl(36deg 100% 50%);
}

main section#skills h1 {
	margin-bottom: 0;
}

main section#skills h1::after {
	border-color: hsl(36deg 100% 50%);
}

main section#skills article {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

main section#skills article div:not(div.accordionised, div.container) {
	margin: 0 0.75em;
}

main section#skills article div h4 {
	display: block;
	text-align: center;
}

main section#skills article div ul li::before {
	background-image: url("../img/homeMade/checkmark.svg");
}
main section#skills article div ul li.flag::before {
	background-image: url("../img/homeMade/greenflag.svg");
}
main section#skills article div ul li.english::before {
	background-image: none;
	content: "🇬🇧";
}
main section#skills article div ul li.french::before {
	background-image: none;
	content: "🇫🇷";
}
main section#skills article div ul li.progress::before {
	background-image: url("../img/homeMade/progress.svg");
	transition: transform  1.5s ease-in-out;
}
main section#skills article div ul li.progress:hover::before {
	transform: rotate(1turn);
}

/* section#hobbies */

main section#hobbies h1, main section#hobbies article div h4 {
	color: hsl(4deg 90% 58%);
}

main section#hobbies h1::after {
	border-color: hsl(4deg 90% 58%);
}

/* @media */

@media (orientation: portrait) {	
	main {
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
	}
	
	main section {
		max-width: none;
		min-width: auto;
		margin: 0.25em 0;
	}
	
	main section article div.flex-center {
		flex-direction: column;
	}
}

@media screen and (orientation: portrait) {
	div.separator {
		border-width: 0; /* chrome mobile workaround */
		border-bottom-width: 4px; /* otherwise empty separator */
		width: 100%;
		height: 0;
		margin: 10px 0;
	}

	main {
		padding-bottom: calc(50vw / 6);
	}

	main header#informations {
		flex-flow: column nowrap;
		align-items: center;
		margin-bottom: 0.25em;
	}

	main header#informations article#name {
		text-align: start;
	}

	main header#informations article#my-informations {
		width: 75%;
	}
}