/* div.accordionised */

div.accordionised {
    display: inline;
}

div.accordionised div.container {
    vertical-align: text-top;
    overflow: hidden;
	white-space: nowrap;

	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

div.accordionised div.container, div.accordionised div.container span.initial, div.accordionised div.container span.lowercase {
    display: inline-block;
}

div.accordionised:not(.no-space) div.container:not(:last-child) span.lowercase::after {
	content: "\00A0";
}

/* PWA override */
@media print {
	:root {
		background-color: white;
		color: black;
	}

	a {
		color: black;
		border-bottom-color: black;
	}
	
	.button {
		color: black;
	}

	.black-theme {
		display: none;
	}

	.black-bg {
		background-color: black;
	}
}

/* CSS override */
@media print {
	.ios, section#loading {
		display: none;
	}

	main section {
		break-inside: avoid;
	}

	main header#informations article ul {
		padding-left: calc(16px + 0.5em);
	}

	main div.pretty-triangles {
		display: none;
	}

	div.accordionised div.container {
		display: inline;
	}
	div.accordionised div.container span.lowercase {
		display: none;
	}

	main section#skills article div ul li, main header#informations article#my-informations ul li {
		display: list-item;
	}
	main header#informations article ul li::before, main section#skills article div ul li::before {
		display: none;
	}
}

/* Chrome loading list-style-image after print rendering workaround */
main section#skills article div ul li {
	list-style-image: url("../img/homeMade/icons/checkmark.png");
}
main section#skills article div ul li.flag, main section#skills article div ul li.french, main section#skills article div ul li.english {
	list-style-image: url("../img/homeMade/icons/greenflag.png");
}
main section#skills article div ul li.progress {
	list-style-image: url("../img/homeMade/icons/progress.png");
}
main header#informations article ul li.mail {
	list-style-image: url("../img/homeMade/icons/mail.png");
}
main header#informations article ul li.linkedin {
	list-style-image: url("../img/registeredTrademark/icons/Linkedin.png");
}
main header#informations article ul li.github {
	list-style-image: url("../img/registeredTrademark/icons/Github_black.png");
}
main header#informations article ul li.phone {
	list-style-image: url("../img/homeMade/icons/phone.png");
}
main header#informations article ul li.agenda {
	list-style-image: url("../img/homeMade/icons/agenda.png");
}
main header#informations article ul li.house {
	list-style-image: url("../img/homeMade/icons/house.png");
}
main header#informations article ul li.mbti {
	list-style-image: url("../img/homeMade/icons/mbti.png");
}